In [2]:
import pandas as pd
import numpy as np

from chart_patterns.chart_patterns.doubles import find_doubles_pattern
from chart_patterns.chart_patterns.head_and_shoulders import find_head_and_shoulders_pattern
from chart_patterns.chart_patterns.inverse_head_and_shoulders import find_inverse_head_and_shoulders
from chart_patterns.chart_patterns.plotting import display_chart_pattern

In [16]:
# read in your ohlc data 
ohlc_doubles_data = pd.read_csv("chart_patterns/data/eurusd-4h.csv")  #headers include - open, high, low, close
# Find the double bottom pattern
ohlc_doubles_data = find_doubles_pattern(ohlc_doubles_data, double="bottoms")

In [17]:
ohlc_doubles_data.head()

,Date,open,high,low,close,Volume,double_type,chart_type,double_idx,double_point,pivot,pivot_pos
0,04.05.2003 21:00:00.000,1.12354,1.12354,1.12166,1.12274,95533.0976,,,[],[],0,NaN
1,05.05.2003 01:00:00.000,1.12242,1.12276,1.12067,1.12126,93778.5996,,,[],[],0,NaN
2,05.05.2003 05:00:00.000,1.12139,1.12255,1.12030,1.12113,90924.6992,,,[],[],0,NaN
3,05.05.2003 09:00:00.000,1.12092,1.12331,1.12049,1.12174,91254.6992,,,[],[],0,NaN
4,05.05.2003 13:00:00.000,1.12194,1.12900,1.12130,1.12712,308003.4083,,,[],[],0,NaN

In [18]:
# Find the double tops pattern
ohlc_doubles_data = find_doubles_pattern(ohlc_doubles_data, double="tops")

In [24]:
ohlc_doubles_data.head(1)

,Date,open,high,low,close,Volume,double_type,chart_type,double_idx,double_point,pivot,pivot_pos
0,04.05.2003 21:00:00.000,1.12354,1.12354,1.12166,1.12274,95533.0976,,,[],[],0,NaN

In [36]:
type(ohlc_doubles_data['Date'].loc[0])

str

In [ ]:
# Plot the results 
display_chart_pattern(ohlc_doubles_data, pattern="double") # If multiple patterns were found, then plots will save inside a folder named images/double

In [12]:
# read in your aapl data 
aapl_hs = pd.read_csv("data/AAPL_data.csv") # headers must include - open, high, low, close
temp = pd.to_datetime(aapl_hs['Datetime'])
# Apply numeric and log to the data
aapl_hs = aapl_hs.apply(pd.to_numeric, errors='coerce')
aapl_hs = np.log(aapl_hs)

# Add the datetime we saved earlier back in
aapl_hs['Datetime'] = temp

aapl_hs = aapl_hs[['Datetime', 'open', 'high', 'low', 'close', 'volume']]
aapl_hs.rename(columns={"Datetime": "Date"}, inplace=True)
aapl_hs['Date'] = aapl_hs['Date'].dt.strftime('%Y-%m-%d-%H-%M-%S')

aapl_hs.head(1)

                  Date      open      high       low     close     volume
0  2022-04-19-09-30-00  5.106067  5.115055  5.099318  5.113643  16.590533

In [ ]:
# Find the head and shoulers pattern
aapl_hs = find_head_and_shoulders_pattern(aapl_hs)

In [17]:
aapl_hs.head(1)

,Date,open,high,low,close,volume,hs_lookback,chart_type,hs_idx,hs_point,pivot,pivot_pos,short_pivot,short_pivot_pos
0,2022-04-19-09-30-00,5.106067,5.115055,5.099318,5.113643,16.590533,60,,[],[],0,NaN,0,NaN

In [21]:
# TODO: Ended here
hs_chart = aapl_hs[aapl_hs['chart_type'] != '']
hs_chart.iloc[:, 0:5]

                     Date      open      high       low     close
1065  2022-11-23-10-30-00  5.019694  5.022761  5.017876  5.019265

In [11]:
# Plot the results 
display_chart_pattern(aapl_hs, pattern="hs") # If multiple patterns were found, then plots will saved inside a folder named images/hs

In [5]:


# read in your ohlc data 
ohlc = pd.read_csv("chart_patterns/data/eurusd-4h.csv")  # headers must include - open, high, low, close

# Find inversr head and shoulders
ohlc = find_inverse_head_and_shoulders(ohlc)

# Plot the results 
display_chart_pattern(ohlc, pattern="ihs") # If multiple patterns were found, then plots will saved inside a folder named images/ihs

head_ratio_before: 0.9922523080342613
head_ratio_after : 0.9969214327301149
head_ratio_before: 0.997524007345194
head_ratio_after : 0.9966014782066029
head_ratio_before: 0.9926806765761148
head_ratio_after : 0.9922060179650943
head_ratio_before: 0.9888700319690571
head_ratio_after : 0.9899640444110791
head_ratio_before: 0.9834308070181053
head_ratio_after : 0.9904356724439396
head_ratio_before: 0.9980854799164574
head_ratio_after : 0.9966976997249343
head_ratio_before: 0.9827143276570758
head_ratio_after : 0.9914102706505239
head_ratio_before: 0.997632223288519
head_ratio_after : 0.99366636293795
head_ratio_before: 0.9969341418971682
head_ratio_after : 0.9837695388684342
head_ratio_before: 0.9857999314833847
head_ratio_after : 0.9887298778497431
head_ratio_before: 0.9976806422836754
head_ratio_after : 0.9980100479194739
head_ratio_before: 0.9965379090041133
head_ratio_after : 0.9980072560899327
head_ratio_before: 0.9952440716031442
head_ratio_after : 0.9980789613142553

C:\Users\Nick\Documents\SchoolStuff\spring2024\machineLearning\final_project\venv\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

SystemExit:

C:\Users\Nick\Documents\SchoolStuff\spring2024\machineLearning\final_project\venv\lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.