In [2]:
# Importing libraries
import os
import warnings
warnings.filterwarnings('ignore')

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight') 

import math

from datetime import datetime, timedelta

import yfinance as yf
from sklearn.linear_model import LinearRegression

from joblib import Memory

import scipy

# Reversal Pattern Detection Algorithm
- Look at the 1 day intervals for now
- Want to look at min by min at some point

In [11]:
# Trendline parameter
lookback = 30

data = yf.download('AAPL', period="1y", interval="1d")
data.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)

# Add adj high and low, which may be important later
data['Adj_High'] = data['Adj_Close'] * data['High'] / data['Close']
data['Adj_Low'] = data['Adj_Close'] * data['Low'] / data['Close']

data.columns = [x.lower() for x in data.columns]
data = np.log(data)
data.head()

[*********************100%***********************]  1 of 1 completed

,open,high,low,close,adj_close,volume,adj_high,adj_low
Date,,,,,,,,
2023-04-10,5.084010,5.087781,5.075674,5.087781,5.082458,17.680796,5.082458,5.070350
2023-04-11,5.089755,5.089816,5.078356,5.080161,5.074838,17.679271,5.084493,5.073033
2023-04-12,5.082770,5.087967,5.073798,5.075799,5.070475,17.730192,5.082643,5.068474
2023-04-13,5.085310,5.110782,5.084010,5.109334,5.104010,18.041550,5.105459,5.078686
2023-04-14,5.103458,5.113914,5.098768,5.107217,5.101894,17.715188,5.108590,5.093445

In [5]:
arr = data['close'].to_numpy()
bottoms = scipy.signal.argrelextrema(arr, np.less, order=3)
tops = scipy.signal.argrelextrema(arr, np.greater, order=3)

In [10]:
bottoms

(array([  1,  16,  21,  27,  39,  50,  55,  62,  75,  91,  99, 117, 122,
        136, 141, 153, 166, 175, 180, 190, 211, 217, 226, 244], dtype=int64),)