In [1]:
# Importing libraries
import os
import warnings
warnings.filterwarnings('ignore')

from datetime import datetime, timedelta
import math
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import yfinance as yf

from neurotrader.download_data import download_df

# Reversal Pattern Detection Algorithm
- Look at the 1 day intervals for now
- Want to look at min by min at some point

In [2]:
# Trendline parameter
lookback = 30

data = download_df('AAPL', '1y')
data.head()

[*********************100%***********************]  1 of 1 completed

,open,high,low,close,adj_close,volume,adj_high,adj_low
Date,,,,,,,,
2023-04-10,161.419998,162.029999,160.080002,162.029999,161.169724,47716900,161.169724,159.230080
2023-04-11,162.350006,162.360001,160.509995,160.800003,159.946259,47644200,161.497974,159.657790
2023-04-12,161.220001,162.059998,159.779999,160.100006,159.249969,50133100,161.199555,158.931661
2023-04-13,161.630005,165.800003,161.419998,165.559998,164.680969,68445600,164.919700,160.562951
2023-04-14,164.589996,166.320007,163.820007,165.210007,164.332840,49386500,165.436947,162.950221

In [3]:
# ROLLING WINDOW ALGORITHM
# Use Scipy to get local extrema. BE CAREFUL NOT TO CHEAT WITH FUTURE DATA
# Use close data because it is more stable then adj high and adj low
arr = data['close'].to_numpy()
bottoms = scipy.signal.argrelextrema(arr, np.less, order=3)
tops = scipy.signal.argrelextrema(arr, np.greater, order=3)